* {
  box-sizing: border-box;
  -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  
  font-family: 'IBM Plex Sans';
  font-size: 16px;
} *::-webkit-scrollbar {
  display: none;
}

body {
  padding: 0;
  margin: 0;

  color: #fff;
  background-color: #0D0F1D;
}



/* =========== header ============ */
.header {
  position: fixed;
  top: 0;
  z-index: 3;
  padding: 24px;
  
  width: 100vw;
}
.header-drop {
  transform: translateY(-80px);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 100%;
}


/* =========== header : nav area ============ */
.container__nav { 
  width: 44px;
}

.menu__hamburger {
  display: inline-block;
  position: absolute;
  top: 38px;
}

.burger-icon, .burger-icon::before, .burger-icon::after {
  display: block;
  position: absolute;
  
  width: 44px;
  height: 2px;

  border-radius: 3px;
  background-color: #f50008;
}

.burger-icon::before, .burger-icon::after {
  content: "";
}

.burger-icon::before {top: -10px;}
.burger-icon::after {top: 10px;}


/* =========== header : nav wrap - list ============ */
.menu__overlay-list {
  position: fixed;
  left: 0;
  z-index: 10;
  padding: 8vh;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.274)
}
.js-overlay {
  display: none;
  opacity: 0;
}

.menu__overlay-list ul {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  z-index: 10;
  padding: 0;
  margin: 0 auto;

  width: 66%;
}

.list__items {
  margin: .2rem;
  
  font-size: 2.6rem;
  font-weight: 600;
  list-style: none;
}

.list__items a {
  color: #fff;
  text-decoration: none;
}
.list__items a:hover {color: #f50008;}

.list__select-lang {
  display: flex;
  align-items: center;
  margin-top: 8vh;
  width: 30vw;
  font-size: 1.8rem;
}

.lang-list {
  margin: .4rem;
}

.lang-bar {
  width: 1px;
  height: 1.5rem;

  background-color: #fff;
}



/* ========================== main ============================ */
.main-section {
  position: relative;
  
  width: 100vw;
  height: 100vh;
}
.main-section:nth-child(2) {background-color: #888;}
.main-section:nth-child(3) {background-color: #333;}

.content__header
.content__entry {
  margin: 5px;
  
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}


/* =========== main : intro area =========== */
.intro {
  background: url(/img/intro-bg.png);
  background-size: cover;
}


/* ========= main : intro - title wrap ========= */
.intro__text-wrap {
  position: absolute;
  top: 20vh;
  left: 19vw;
}
.intro__text-wrap h1 {
  margin: 0;
  margin-bottom: 6vh;

  font-size: 6.25rem;
  line-height: 6rem;
}
.intro__text-wrap span {
  font-family: 'Times New Roman';
  font-size: 6.875rem;
  font-weight: 300;
}


/* ========= main : intro - scroll wrap ========= */
.scroll-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  bottom: 12vh;
  left: 19vw;
}
.scroll-wrap span {
  margin-bottom: 8px;
  height: 45px;
  transform: rotate(-90deg);
}
.scroll-wrap img {margin-left: 0.25rem;}
.text-guide {
  font-size: .65rem;
  letter-spacing: .1rem;
}



/* ========== main : company area =========== */
.company__text-wrap {
  position: absolute;
  top: 22.5rem;
}