* {
  box-sizing: border-box;
  -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  
} *::-webkit-scrollbar {
  display: none;
}

html {
  font-family: 'IBM Plex Sans';
  font-size: 10px;
  color: #fff;
  background-color: #0D0F1D;
}

body {
  padding: 0;
  margin: 0;
}



/* =========== header ============ */
header {
  position: fixed;
  top: 0;
  z-index: 3;
  padding: 24px;
  
  width: 100vw;
}
.header-off {
  transform: translateY(-80px);
}

.fst-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 100%;
}


/* =========== header : nav area ============ */
.fst-container__nav { 
  width: 44px;
}

.menu__hamburger {
  display: inline-block;
  position: absolute;
  top: 38px;
}

.burger-icon, .burger-icon::before, .burger-icon::after {
  display: block;
  position: absolute;
  
  width: 44px;
  height: 2px;

  border-radius: 3px;
  background-color: #f50008;
}

.burger-icon::before, .burger-icon::after {
  content: "";
}

.burger-icon::before {top: -10px;}
.burger-icon::after {top: 10px;}


/* =========== header : nav wrap - list ============ */
.menu__overlay-list {
  position: fixed;
  left: 0;
  z-index: 30;
  padding: 8vh;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.274)
}
.js-overlay {
  display: none;
  opacity: 0;
}

.menu__overlay-list ul {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  padding: 0;
  margin: 0 auto;

  width: 66%;
}

.list__items {
  margin: .2rem;
  
  font-size: 7.2rem;
  font-weight: 600;
  list-style: none;
}

.list__items a {
  color: #fff;
  text-decoration: none;
}
.list__items a:hover {color: #f50008;}

.list__select-lang {
  display: flex;
  align-items: center;
  margin-top: 8vh;
  width: 30vw;
  font-size: 4rem;
}

.lang-bar {
  margin: 8px 16px 0 16px;
  width: 1px;
  height: 3rem;

  background-color: #fff;
}



/* ========================== main ============================ */
.main-container { 
  width: 100vw;
  height: 100vh;
}

.main__intro, .main__company {
  width: 100%;
  height: 100%;
}

.contents__header {
  margin: 0;

  font-size: 6.4rem;
  line-height: 100%;
  color: #f50008;
}

.contents__header-serif {
  font-family: 'Times New Roman';
  font-weight: 300;
  color: #fff;
}

.contents__desc {
  margin: 2vw 0 12vh .2vw;

  font-size: 1.8rem;
  font-weight: 300;
  line-height: 150%;
}

.next-btn {
  display: flex;
  align-items: center;
  margin-left: .2vw;

  font-size: 1.4rem;
  letter-spacing: .1rem;
  text-decoration: none;
  color: #fff;
} 
.next-icon {
  width: 32px;
  height: 4px;
  margin-left: 16px;
}


/* =========== main : intro area =========== */
.main__intro {
  background: url(/img/intro-bg.png);
  background-size: cover;
}


.intro__contents {
  margin: 0 auto;
  
  width: 64vw;
  height: 100vh;
  padding: 12vw 0 0 0;
}

.intro__contents h1 {
  margin: 0;
  margin-bottom: 4vh;

  font-size: 10rem;
  line-height: 100%;
  word-spacing: 1px;
}

.intro__scroll-box {
  margin-top: 16vh;
}

.scroll-btn {
  display: flex;
  flex-direction: column;

  font-size: 1.2rem;
  letter-spacing: .2rem;
  text-decoration: none;
  color: #fff;
}
.scroll-btn span {
  width: 16px;
}
.scroll-icon {
  width: 4px;
  height: 32px;
  margin: 12px 0 0 .3vw;
}




/* ========== main : company area =========== */
.company__contents {
  display: flex;
  flex-direction: column;
 
  width: 64vw;
  height: 100vh;
  margin: 0 auto;
  padding: 28vh 0 0 36vw;
}



/* ========== main : product area =========== */
.main__product {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 100%;
}

.product__contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  width: 64vw;
  height: 50rem;
  margin-top: 24vh;
  padding: 0 5vw;
}
.product__contents:last-child {margin-bottom: 16vh;}

.product__img-box {
  width: 46rem;
}